<div class="wrapper">
  <h3>Please type city name to find weather</h3>
  <input
    placeholder="Search..."
    [formControl]="filtersControl"
    #filtersInput>

  <h3 *ngIf="inputValue">Weather for <span>{{ inputValue }}</span></h3>

  <ng-container *ngIf="!inputValue">
    <h3 class="no-city">
      {{ res }}
      No city found... Try again!
    </h3>
  </ng-container>

  <div *ngIf="chart && res != '404'; else emptyData" class="chart" >
    <canvas id="canvas">{{ chart }}</canvas>

  </div>

  <ng-template #emptyData>
    No city found!
  </ng-template>

</div>
